<button class="navigate-commit" data-direction="-1">Prev</button>
<button class="navigate-commit" data-direction="1">Next</button>
<p>
  <strong>Sha:</strong> {{commit.attributes.sha}}<br>
  <strong>Message:</strong> {{commit.attributes.commit.message}}<br>
  <strong>Date:</strong> {{commit.attributes.commit.committer.date}}<br>
</p>
{{#if fileContents}}
  <pre><code>{{fileContents}}</code></pre>
{{else}}
  Please select a file
{{/if}}
