<p>
  <strong>Index:</strong> {{commit.cid}}<br>
  <strong>Sha:</strong> {{commit.attributes.sha}}<br>
  <strong>Message:</strong> {{commit.attributes.commit.message}}<br>
  <strong>Date:</strong> {{commit.attributes.commit.committer.date}}<br>
</p>
{{#if fileContents}}
  <pre class="pre"><code class="code">{{fileContents}}</code></pre>
{{else}}
  Please select a file
{{/if}}
